{%- macro number_input(column) -%}
    <h1>number_input</h1>
    <h2>{{ column.name }}</h2>
{% endmacro -%}


{%- macro date_input(column) -%}
    <h1>date_input</h1>
    <h3>{{ column.name }}</h3>
{% endmacro -%}
