{%- macro number_input(column) -%}
    <h1>number_input with {{ column.field }}</h1>
{% endmacro -%}
{%- macro date_input(column) -%}
    <h1>date_input with {{ column.field }}</h1>
{% endmacro -%}
{%- macro auto_complete(column) -%}
    <h1>auto_complete plugin with {{ column.field }}</h1>
{% endmacro %}